
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #153e7c;
    padding: 50px;
    border-radius: 10px;
}

.formGroup {
    background-color:white;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 6px;
    border: none;
}



.button {
    background-color:white;
    color: var(--cinza-claro);
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.mensagem {
    font-size: .9rem;
    font-weight: 600;
    margin-top: -6px;
    margin-bottom: 1rem;  
    color: red; 
}